@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/roboto-light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/roboto.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/roboto-bold.woff) format('woff');
}
@font-face {
  font-family: 'FuturaWeb';
  src: url('../fonts/FTN45__W.eot');
  src: /*local('../fonts/Futura PT Web Book'), local('../fonts/FuturaPTWebBook'),*/
       url('../fonts/FTN45__W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FTN45__W.woff') format('woff'),
       url('../fonts/FTN45__W.ttf') format('truetype'),
       url('../fonts/FTN45__W.svg#FuturaWeb') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaWeb';
  src: url('../fonts/FTN85__W.eot');
  src: /*local('../fonts/Futura PT Web Bold'), local('../fonts/FuturaPTWebBold'),*/
       url('../fonts/FTN85__W.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FTN85__W.woff') format('woff'),
       url('../fonts/FTN85__W.ttf') format('truetype'),
       url('../fonts/FTN85__W.svg#FuturaWeb') format('svg');
  font-weight: bold;
  font-style: normal;
}