/*!
 * 
 *             SimpleBar.js - v2.0.0
 *             Scrollbars,  simpler.
 *             https://grsmto.github.io/simplebar/
 *             
 *             Made by Adrien Grsmto from a fork by Jonathan Nicol
 *             Under MIT License
 *         
 */
[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.simplebar-scroll-content {
    overflow: auto;
    position: relative;
    z-index: 0;
}
.simplebar-track {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 11px;
}
.simplebar-track .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    background: #a9a9a9;
    background-clip: padding-box;
}
.simplebar-track:hover .simplebar-scrollbar {
    opacity: .7;
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
}
.simplebar-track .simplebar-scrollbar.visible {
    opacity: .7;
}
.horizontal.simplebar-track {
    top: auto;
    left: 0;
    width: auto;
    height: 11px;
}
.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}