<html>
<head>
    <title>SIFUG - Sistema do FGTS | Caixa Econômica Federal</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="./libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="libs/assets/font-awesome/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="libs/jquery/waves/dist/waves.css" type="text/css" />
  <!--<link rel="stylesheet" href="styles/material-design-icons.css" type="text/css" />-->
  <link rel="stylesheet" href="styles/font.css" type="text/css" />
  <link rel="stylesheet" href="styles/app.css" type="text/css" />
  <link rel="stylesheet" href="scripts/jquery/scroll/scroll.css" type="text/css" />
  <link rel="stylesheet" href="scripts/jquery/bootstrap-select/css/bootstrap-select.min.css" type="text/css" />
  <link rel="stylesheet" href="scripts/jquery/dataTables/dataTables.bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="scripts/jquery/datepicker/bootstrap-datepicker.css" type="text/css" />
  <link rel="icon" href="./images/fgts.ico" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
</head>
<body>
<body ng-app="myApp">
    <div class="app">
    <div id="content" class="app-content" role="main">
        <div class="box">
          <!-- topo corpo -->
          <div class="navbar md-whiteframe-z1 no-radius blue">
            <!-- Open side - Naviation on mobile -->
            <a md-ink-ripple data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm text-white">
              <i class="fa fa-navicon i-24"></i>
            </a>
            <!-- Dados do acesso -->
  
            <div class="col-md-1 visible-lg-block visible-md-block m-t text-right">
              <img src="images/icon-empresa.png" alt="ICONE EMPRESA"> </div>
            <div class="m-t-sm2 col-md-6 visible-lg-block visible-md-block">
              <h6 class="no-margin">
                <small class="text-white">Nome</small>
              </h6>
              <h6 class="no-margin">
                <strong>TESTANDO O TAMANHO MUITO LOGO DO NOME DAS INDUSTRIAS DE COMÉRCIOS LDTA</strong>
              </h6>
              <h6 class="no-margin">
                <small class="text-white">Inscrição</small>
              </h6>
              <h6 class="no-margin">
                <strong>999.999.999-99</strong>
              </h6>
            </div>
            <div class="col-md-3 visible-lg-block visible-md-block">
              <div class="m-t-lg pull-right">
                <button md-ink-ripple="" class="btn btn-sm btn-default text-info" data-toggle="modal" data-target="#myModalAcesso">
                  <i class="fa fa-user fa-lg"></i>&nbsp; Trocar Perfil </button>
                <button md-ink-ripple="" class="btn btn-sm btn-default text-info">
                  <i class="fa fa-times-circle fa-lg"></i>&nbsp; Sair </button>
              </div>
            </div>
            <div class="col-md-10 col-xs-5 hidden-lg hidden-md">
              <img src="images/logo.png" alt="LOGO CAIXA" class="m-t-md p-h-sm pull-left logo"> </div>
            <div class="col-md-2 col-xs-3 hidden-sm hidden-xs">
              <img src="images/fgts.png" alt="LOGO FGTS" class="m-t-lg p-h-sm pull-right logo"> </div>
            <div class="col-md-2 col-xs-4 hidden-lg hidden-md pull-right">
              <img src="images/fgts.png" alt="LOGO FGTS" class="m-t-md p-h-sm pull-right logo"> </div>
            <div class="pull-right" ui-view="navbar@"></div>
          </div>
          <div class="box-row">
            <div class="box-cell">
              <div class="box-inner padding">
                <div class="row row-xs">
                  <div class="col-sm-12">
                    <div class="panel panel-card p m-b-sm">
                      <!--Componente insumos-->
                      <div ng-controller="tema-controller" class="container">
                        <h1 class="header">Repositório de Insumos </h1>
                        <div class="col-sm-6">
                          <div class="md-form-group">
                          <select class="md-input selectpicker"  ng-change="getByTema(selectedTema)" data-live-search="false" ng-model="selectedTema">
                            <option ng-repeat="tema in temas.data" value="{{tema.NU_TEMA}}">{{tema.NO_TEMA}}</option>
                          </select>
                          <select class="md-input selectpicker" data-live-search="true">
                              <option ng-repeat="tema in temas.data" value="{{tema.NU_TEMA}}">{{tema.NO_TEMA}}</option>
                          </select>
                            <label>Select com Busca</label>
                          </div>
                     
                        </div>
                        </div>
                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./controllers/controller.js"></script>
  <script src="./libs/jquery/jquery/dist/jquery.js"></script>
  <script src="./libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./libs/jquery/waves/dist/waves.js"></script>
  <script src="./scripts/ui-load.js"></script>
  <script src="./scripts/ui-jp.js"></script>
  <script src="./scripts/ui-nav.js"></script>
  <script src="./scripts/ui-toggle.js"></script>
  <script src="./scripts/ui-waves.js"></script>
  <script src="./scripts/jquery/scroll/scroll.js"></script>
  <script src="./scripts/jquery/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="./scripts/jquery/dataTables/jquery.dataTables.min.js"></script>
  <script src="./scripts/jquery/dataTables/dataTables.bootstrap.min.js"></script>
  <script src="./scripts/jquery/validate/additional-methods.min.js"></script>
  <script src="./scripts/jquery/validate/jquery.validate.js"></script>
  <script src="./scripts/jquery/maskedinput/jquery.maskedinput.min.js"></script>
  <script src="./scripts/jquery/datepicker/bootstrap-datepicker.js"></script>
  <script src="./scripts/util.js"></script>
</body>
</html>