<div class="panel panel-card p m-b-sm">
        <!--Tema Controller-->
        <div ng-controller="tema-controller" class="container">
          <h1 class="header">Repositório de Insumos </h1>
          <div class="col-sm-4ss">
            <br>
            <button class="btn btn-icon btn-rounded btn-success" data-toggle="modal" data-target="#modalInclusao" ng-click="clearForm()"
              title="Incluir">
              <i class="fa fa-sign-in"></i>
            </button>
            <a> Incluir Insumo</a>
          </div>
          <div class="row row-sm">
            <div class="md-form-group">
              <div class="col-sm-4">
                <label>Tipo de insumo*</label>
                <select id="tipoInsumo" name="tipoInsumo" data-live-search="true" class="md-input selectpicker" ng-model="insumo.filter.selectedTipoInsumo"
                  required>
                  <option value=""></option>
                  <option ng-repeat="insumo in tipoInsumo" value="{{insumo.NU_TIPO_INSUMO}}">{{insumo.NO_TIPO_INSUMO}}</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label>Data Inicio*</label>
                <datepicker>
                  <input required ng-model="insumo" type="text" class="md-input">
                </datepicker>
              </div>
              <div class="col-sm-2">
                <label>Data Fim*</label>
                <datepicker>
                  <input required ng-model="insumo" type="text" class="md-input">
                </datepicker>
              </div>

<div ng-controller="date">
date
{{myDate}}
</div>
              <div ng-controller="date" >
                  <input type="datetime-local" id="exampleInput" name="input" ng-model="example.value"
placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />
</div>
                
                
            </div>
          </div>
          <div class="md-form-group">
            <div class="col-sm-4">
              <label>Tema</label>
              <select class="md-input selectpicker" ng-change="getByTema(insumo.filter.selectedTema)" data-live-search="true" ng-model="insumo.filter.selectedTema">
                <option ng-repeat="tema in temas" value="{{tema.NU_TEMA}}">{{tema.NO_TEMA}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label>Sub-Tema</label>
              <select required multiple title="Múltipla seleção de itens" data-selected-text-format="count" id="subtema" name="subtema"
                data-live-search="true" class="md-input selectpicker" ng-model="insumo.filter.subtema">
                <option ng-repeat="subtema in subtemas" value="{{subtema.NU_SUBITEM}}">{{subtema.NO_SUBITEM}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label>Palavras-chave*</label>
              <select required multiple data-selected-text-format="count" id="palavrachave" name="palavrachave" data-live-search="true"
                class="md-input selectpicker" ng-model="insumo.filter.palavraschave">
                <option ng-repeat="palavrachave in palavraschave" value="{{palavrachave.NU_PRLZ10}}">{{palavrachave.NO_PALAVRA_CHAVE}}</option>
              </select>
            </div>
          </div>


          <br>
          <br>
          <br>
          <div ng-show="visibleGrid" class="table-responsive">
            <table class="dataTable table table-striped table-hover" cellspacing="0">
              <thead>
                <tr>
                 <th class="col-sm-4">Status</th>
                  <th class="col-sm-4">Título</th>
                  <th class="col-sm-2">Palavras-Chave</th>
                  <th class="col-sm-2">Tema</th>
                  <th class="col-sm-2">SubTema</th>
                  <th class="col-sm-2">Data Insumo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="insumo in insumos">
                <tr>
                  <td>
                    {{insumo.IC_INSUMO_ATIVO}}
                  </td>
                  <td>
                    <a href="#" data-toggle="modal" ng-click="getById(insumo.NU_PRLZ35,1)" data-target="#modalAlteracao">{{insumo.NO_INSUMO}}</a>
                  </td>
                  <!-- <td class="valor-neg"> -->
                  <td>
                    {{insumo.NO_PALAVRA_CHAVE}}
                  </td>
                  <td>{{insumo.NO_TEMA}}</td>
                  <td>{{insumo.NO_SUBITEM}}</td>
                  <td>{{insumo.DT_INSUMO | date:'dd/MM/yyyy'}}</td>
                  <td>
                    <button class="btn btn-icon btn-rounded btn-info" data-toggle="modal" ng-click="getById(insumo.NU_PRLZ35,0)" data-target="#modalAlteracao"
                      title="Editar">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-icon btn-rounded btn-danger" data-toggle="modal" ng-click="setInfoModalDelete(insumo.NU_PRLZ35,insumo.NO_INSUMO)"
                      data-target="#deleteModal" title="Excluir">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
